# ================================
# Arquivos de classe e pacotes
# ================================
*.class
*.jar
*.war
*.ear
*.zip
*.tar
*.tar.gz

# ================================
# Arquivos temporários e logs
# ================================
*.log
*.tmp
*.temp
logs/
build/

# ================================
# Arquivos específicos do sistema
# ================================
# macOS
.DS_Store

# Windows
Thumbs.db
Desktop.ini

# ================================
# IDEs
# ================================
# IntelliJ IDEA
.idea/
*.iml
*.iws
*.ipr
out/

# Eclipse
.project
.classpath
.settings/
bin/

# VS Code
.vscode/

# ================================
# Artefatos de build
# ================================
# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Gradle
build/
.gradle/
.gradletasknamecache
gradle-app.setting
!gradle-wrapper.jar

# ================================
# Subversion
# ================================
# Ignora todas as pastas e arquivos .svn
**/.svn/
*.svn-base

# ================================
# Outros
# ================================
hs_err_pid*
replay_pid*
